
@{
    ViewBag.Title = "homeAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>الإدارة</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/adminLoginSS.css">
</head>
<body>

    <div class="row" style="margin-top:70px; margin-bottom:20%;">
        <div class="col">

            <div class="card" style="width: 18rem; ">
                <a href="#">
                    <img class="cardsImage card-img-top" src="~/Imgs/disabledManage.jpg" alt="manageDisabled" onclick="@("window.location.href='" + @Url.Action("manageDisabled", "admin") + "'");">
                </a>
                <div class="card-body">
                    <h5 class="card-text" style="text-align:center">إدارة خدمات ذوي الهمم</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem; ">
                <a href="#">
                    <img class="cardsImage card-img-top" src="~/Imgs/machineManage.jpg" alt="Card image cap">
                </a>
                <div class="card-body">
                     <h5 class="card-text" style="text-align:center">إدارة ماكينات التصويت</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem; ">
                <a href="#">
                    <img class="cardsImage card-img-top" src="~/Imgs/candidateManage.jpg" alt="manageCandidates" onclick="@("window.location.href='" + @Url.Action("manageCandidate", "admin") + "'");">
                </a>
                <div class="card-body">
                    <h4 class="card-text" style="text-align:center">إدارة المرشحين</h4>
                </div>
            </div>
        </div>

    </div>

</body>