
@{
    ViewBag.Title = "applyForPresidency";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> الرئيسية</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/applyForPresidencySS.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>

<body>

    <div class="bannerCont">
        <img src="~/Imgs/جمهورية مصر العربية رئاسة الجمهورية.png" alt="evoting" class="presidentImg">
    </div>
    <h2 style="text-align:center; margin-top:30px;">التقدم الإلكتروني للترشح لرئاسة جمهورية مصر العربية</h2>
    <h4 style="text-align:center; margin-top:30px;">من فضلك، تعرّف على الوثائق المطلوبة للترشح لرئاسة الجمهورية <a  target="_blank" href="https://www.sis.gov.eg/Newvr/election2.pdf" class="stretched-link">من هنا</a> </h4>
    

    <form class="needs-validation" novalidate style="margin-top:7%;">
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <div align="right">
                    <label for="validationCustom01">البريد الإلكتروني</label>
                </div>
                <div align="right">
                    <input type="text" class="form-control" id="validationCustom01" placeholder="البريد الإلكتروني" style="text-align:right" required>
                    <div class="invalid-feedback">
                        من فضلك ادخل بريدك الإلكتروني
                    </div>
                </div>
            </div>
                <div class="col-md-4 mb-3">
                    <div align="right">
                        <label for="validationCustom02">رقم الموبايل</label>
                    </div>
                    <div align="right">
                        <input type="text" class="form-control" id="validationCustom02" placeholder="رقم الموبايل" style="text-align:right" required>
                        <div class="invalid-feedback">
                            من فضلك ادخل رقم الموبايل
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <div align="right">
                        <label for="validationCustom03">الرقم القومي</label>
                    </div>
                    <div align="right">
                        <input type="text" class="form-control" id="validationCustom03" placeholder="الرقم القومي" style="text-align:right" required>
                        <div class="invalid-feedback">
                            من فضلك ادخل الرقم القومي
                        </div>

                    </div>
                     
                    </div>
                </div>

        <div class="form-row" style="margin-top:25px;">
            <div class="col custom-file " >
                <label class="custom-file-label" for="customFile">الوثائق المطلوبة للترشح لرئاسة الجمهورية</label>
                <input type="file" class="custom-file-input" id="customFile" required>
                <div class="invalid-feedback">
                    من فضلك قم بتحميل الوثائق المطلوبة
                </div>
            </div>
        </div>

        <button class="btn btn-success" onclick="myFunction2()" type="submit" style="margin-top:55px; margin-bottom:5%;">تقديم الطلب</button>


    </form>

    <script>
        function myFunction2() {
            alert("لقد تم إرسال الطلب بنجاح.");
        }
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>






</body>